@import 'tools/grid';
@import 'tools/padding';

/*
    SimpleCSS fast simple and light framework
    Author: Yohangel Ramos
    Github: http://github.com/yohangel
*/

body {
    margin: 0;
    padding: 0;
}