nav {
    .logo {
        color: blue;
        text-transform: uppercase;
        font-size: 1.50rem;
    }

    .collapse {
        justify-content: flex-end;
    }

    .nav-link {
        color: darkblue;
        text-transform: uppercase;
    }
}